# Dependencies
node_modules/
__pycache__/
*.py[cod]
*$py.class
.env

# Build outputs
dist/
build/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Docker volumes
postgres_data/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 